header{
	background-color: #BCBCBC;
	width: 80%;
	height: 350px;
	display: block;
}

section{
	width: 80%;
	background-color: #DEDEDE;
}
aside{
	width: 80%;
	background-color: #DEDEDE;	
}
footer{
	text-align: center;
	width: 100%;
	background-color: #737373;
}